body{
   margin: 60px 80px 0px 80px;
   background-color: rgb(255, 254, 254);
}
.flexible-container{
   display:flex;
   margin-bottom: 50px;
}
.title{
   margin-top: 100px;
   text-align: center;
}
.decoration{
   width: 80%;
}
.decoration img{
   width: 80%
}
.rest-pictures1{
   width: 600px;
}
.rest-pictures2{
   border-right: 0px;
   padding-left: 100px;
   width: 700px;
}
.decoration1{
   width: 40%;
   padding-left: 10px;
   border: 20px 20px 20px 20px;
   margin-right: 5px;
   margin-left: 10px;
   padding-top: 10px;
   padding-bottom: 40px;
   background-color: rgb(197, 187, 187);
   border-radius: 20px;
   font-display: flex;
}
.decoration1 img{
   width: 40%;
}

footer{
   text-align: center;
   margin-bottom: 0px;
}
.first-picture{
   width: 500px;
   margin-left: 200px;
   margin-bottom: 0px;
}
.link-button{
   text-decoration: none;
   background-color: rgb(155, 87, 87);
   padding: 10px 10px;
   color: white;
   font-weight: 700;
   border-radius: 5px;
}

#border-left{
   border-left: 2px solid;
   border-color: tomato;
   padding-left: 5px;
}