body{
   margin: 60px 80px 0px 80px;
}
.flexible-container{
   display:flex;
   margin-bottom: 50px;
}
.title{
   margin-top: 100px;
   text-align: center;
}
.decoration{
   width: 40%;
}
.decoration img{
   width: 80%
}
.decoration1{
   width: 40%;
   padding-left: 10px;
   border: 10px 10px 10px 10px;
   margin-right: 5px;
   margin-left: 10px;
   padding-top: 10px;
   background-color: rgb(197, 187, 187);
   border-radius: 20px;
   font-display: flex;
}
.decoration1 img{
   width: 50%;
}

footer{
   text-align: center;
   margin-bottom: 0px;
}
.first-picture{
   margin-left: 100px;
   margin-bottom: 0px;
}
